/*  EXTERNAL CSS FOR 04302018.htm */ 
/*
/
/  // Auth: Aaron I. Clay
/  // 0635 EST [04302018] 
/  // V 1.0.0 
/
/
*/


span.recLineID
{
	font-family:"Verdana",sans-serif;
	font-size:1.2em;
	color:green;
}

span.recLineFNAME
{
	font-family:"Courier New",monospace;
	font-size:1.2em;
	color:blue;
}
